<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Cari restoran favoritmu disini">
  <meta name="theme-color" content="#222222">

  <link rel="icon" href="./favicon.ico">
  <link rel="apple-touch-icon" href="./icons/apple-icon.png">
  <link rel="manifest" href="./app.webmanifest">

  <title>EatMe</title>
</head>

<body>
  <header>
    <nav>
      <button id="skipContent" class="skip">Skip To Content</button>
      <div id="brand">
        <h1 class="logo">EatMe</h1>
      </div>
      <button id="hamburger" aria-label="buka menu navigasi">☰</button>
      <div id="drawer">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#/favorite">Favorite</a>
          </li>
          <li>
            <a href="https://github.com/rizfadh" target="_blank">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div tabindex="0" id="content" aria-label="konten utama"></div>
  </main>
  <footer tabindex="0">
    <div class="mt-1">
      <p>Copyright &copy; <span class="logo">EatMe</span> 2022 By Muhammad Rizky Fadhillah</p>
    </div>
  </footer>
</body>

</html>